COUCHBASE_CONNECTION_STRING=couchbase://localhost
COUCHBASE_USERNAME=Administrator
COUCHBASE_PASSWORD=password
COUCHBASE_BUCKET=strands_memory
COUCHBASE_SCOPE=_default
COUCHBASE_COLLECTION=_default
COUCHBASE_VECTOR_BACKEND=hyperscale
COUCHBASE_DISTANCE_METRIC=L2_SQUARED
# Only needed when COUCHBASE_VECTOR_BACKEND=search
COUCHBASE_SEARCH_INDEX=strands-memory-search-index
COUCHBASE_NAMESPACE=default
# Set to 1 to run tests/test_integration_live.py
COUCHBASE_INTEGRATION_TESTS=0
